*{
    margin: 0;padding: 0;
}
body{
    height: 100vh;
    overflow: hidden;
    cursor: url(Cursor.png),default;
}
#app{
    width: 100%;
    height: 100vh;
}
.pad-light{
    background-color: #000d;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    opacity: 0;
    z-index: 9999;
    pointer-events: none;
}
/* 上下拉伸调整光标 */
.resize-vertical{
    cursor: url("Sizing Cursor.png"),ns-resize;
}
/* 加载等待转圈光标 */
.wait-cursor{
    cursor: url(aero_busy.png),wait;
}
